@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model App.NET.Models.Project

<h2 class="text-center">Editare Proiect</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            @using (Html.BeginForm("Edit", "Projects", FormMethod.Post, new{id = Model.Id}))
            {
                @Html.HiddenFor(model => model.Id)

                @Html.LabelFor(model => model.Title_project)
                @Html.EditorFor(m => m.Title_project, new {htmlAttributes = new {@class = "form-control" }})

                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.Description, null, new {@class="text-danger"})
                <br />

                <br />

                @Html.LabelFor(model => model.Team_Id)
                @Html.DropDownListFor(model => model.Team_Id, new SelectList(ViewBag.Teams, "Id", "Name", Model.Team_Id), "Selectați echipa", new { @class = "form-control" })

                <button type="submit" class="btn btn-success mt-3">Modifică Proiect</button>
            }
        </div>
    </div>
</div>



