@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (TempData["message"] != null)
{
    <div class="alert @TempData["messageType"] p-3 rounded-3 text-center mb-5">
        @TempData["message"]
    </div>
}

@model App.NET.Models.Project
    @if (ViewBag.AfisareButoane == true || ViewBag.EsteAdmin)
    {
        <div class="nav_teams_show">
            <div class="nav_show">
                <ul>
                    <li><a href="/Projects/Add_Users/@Model.Id">Add Users</a></li>
                    <li><a href="/Tasks/New?project=@Model.Id">Create a task</a></li>
                </ul>
            </div>
        </div>
    }
<a href="/Teams/Show/@Model.Team_Id">
    <button type="button" class="btn btn-dark" style="display:flex;align-content:center;margin-top:1rem;">
        <span class="material-symbols-outlined">arrow_back</span>
        Back to the Team: @ViewBag.teamName
        </button>
</a>
<h2 style="margin-top:1rem;">Project: @Model.Title_project</h2>

<div>
    
        <p>Description: @Model.Description</p>
        <p>
            <span style="font-weight: bold;">Owner: </span>
            @ViewBag.owner.UserName
        </p>
        @*afisarea persoanelor din proiect*@
        <p>
            <span style="font-weight: bold;">People in the team: </span>
            @foreach (ApplicationUser user in ViewBag.users)
            {
                <span>@user.UserName, </span>
            }
        </p>
        @if (ViewBag.countUsers != null)
        {
            <span>+ @(ViewBag.countUsers)</span>
        }
        <div id="accordion">
        @if (ViewBag.your_tasks_count != 0)
        {
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Your Tasks (@ViewBag.your_tasks_count)
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="items-container">
                            @foreach (Task_table task in ViewBag.your_tasks)
                            {
                                @Html.Partial("TaskInfo", task)
                                ;
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.Notstarted_count != 0)
        {
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Not Started (@ViewBag.Notstarted_count)
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="items-container">
                            @foreach (Task_table task in ViewBag.Notstarted)
                            {
                                @Html.Partial("TaskInfo", task)
                                ;
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.Inprogress_count != 0)
        {
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            In Progress (@ViewBag.Inprogress_count)
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <div class="items-container">
                            @foreach (Task_table task in ViewBag.Inprogress)
                            {
                                @Html.Partial("TaskInfo", task)
                                ;

                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.Completed_count != 0)
        {
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Completed (@ViewBag.Completed_count)
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        <div class="items-container">
                            @foreach (Task_table task in ViewBag.Completed)
                            {
                                @Html.Partial("TaskInfo", task)
                                ;

                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
        @*Vor fi taskuri not started, work in progres, finished*@

    @if (ViewBag.AfisareButoane == true || ViewBag.EsteAdmin)
    {
        <div class="col-md-12" style="margin-top:2rem;">
            <a href="/Projects/Edit/@Model.Id" class="btn btn-warning">Editează</a>
            <form method="post" action="/Projects/Delete/@Model.Id" class="d-inline">
                <button type="submit" class="btn btn-danger">Șterge</button>
            </form>
        </div>
    }
    
    
</div>
