@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model App.NET.Models.Project
<div class="nav_teams_show">
    <div class="nav_show">
        <ul>
            <li><a href="/Projects/Add_Users/@Model.Id">Add Users</a></li>
            <li><a href="/Tasks/New?project=@Model.Id">Create a task</a></li>
        </ul>
    </div>
</div>

<a href="/Teams/Show/@Model.Team_Id">
    <button type="button" class="btn btn-dark" style="display:flex;align-content:center;margin-top:1rem;">
        <span class="material-symbols-outlined">arrow_back</span>
        Back to the Team: @ViewBag.teamName
        </button>
</a>
<h2 style="margin-top:1rem;">Project: @Model.Title_project</h2>

<div>
    
        <p>Description: @Model.Description</p>
        <p>
            <span style="font-weight: bold;">Owner: </span>
            @ViewBag.owner.UserName
        </p>
        @*afisarea persoanelor din proiect*@
        <p>
            <span style="font-weight: bold;">People in the team: </span>
            @foreach (ApplicationUser user in ViewBag.users)
            {
                <span>@user.UserName, </span>
            }
        </p>
        @if (ViewBag.countUsers != null)
        {
            <span>+ @(ViewBag.countUsers)</span>
        }
        <h3>Tasks:</h3>
        @*Vor fi taskuri not started, work in progres, finished*@
        <h4 style="margin-top:1rem;">Not started:</h4>

        <div class="items-container">
            @foreach (Task_table task in ViewBag.tasks)
            {
                <div onclick="location.href='/Tasks/Show/@task.Id';" class="card team-card">

                    <div class="card-body">

                        <h3 class="card-title alert-success py-3 px-3 rounded-2">@task.Title_task</h3>

                        <div class="card-text">Status: @task.Status</div>


                        <div class="card-text">
                            Deadline: @task.Data_end
                        </div>
                    </div>
                </div>

            }
        </div>
        

        <div class="col-md-12">
            <a href="/Projects/Edit/@Model.Id" class="btn btn-warning">Editează</a>
            <form method="post" action="/Projects/Delete/@Model.Id" class="d-inline">
                <button type="submit" class="btn btn-danger">Șterge</button>
            </form>
        </div>
    
</div>
