@model Team
@if (TempData["message"] != null)
{
    <div class="alert @TempData["messageType"] p-3 rounded-3 text-center mb-5">
        @TempData["message"]
    </div>
}
<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Your teams</div>
        <div class="list-group list-group-flush overflow-auto h-100">
            @*all of his teams*@

            @if (ViewBag.your_teams == null)
            {
                <a href="/Teams/New" class="list-group-item list-group-item-action bg-light">You are not yet in a team, create one</a>
            }
            else
            {
                <a href="/Teams/Index" class="list-group-item list-group-item-action  bg-light" style="display:flex;align-content:center;">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                    <span style="padding-left:0.5rem;">All teams</span>
                </a>
                <a href="/Teams/New" class="list-group-item list-group-item-action  bg-light" style="display:flex;align-content:center;">
                    <span class="material-symbols-outlined">add</span>
                    <span style="padding-left:0.5rem;">New</span>
                </a>
                @foreach (var team in ViewBag.your_teams)
                {
                    @if(team.Id == Model.Id)
                    { 
                        <a href="/Teams/Show/@team.Id" class="list-group-item list-group-item-action bg-light active">@team.Name</a>
                    }
                    else
                    {
                        <a href="/Teams/Show/@team.Id" class="list-group-item list-group-item-action bg-light ">@team.Name</a>
                    }
                }
            }

        </div>
    </div>
    <div class="team-buttons">
        <a href="/Teams/Your_Teams"><button type="button" class="btn btn-info">Your Teams</button></a>
        <a href="/Teams/New"><button type="button" class="btn btn-info">Create a team</button></a>
        <a href="/Projects/New?team=@Model.Id"><button type="button" class="btn btn-info your_teams_btn">Create a Project</button></a>
        <a href="#"><button type="button" class="btn btn-info">Leaderboard</button></a>
    </div>
    
    <div class="index-content">
        <div class="nav_teams_show">
            <div class="nav_show">
                <ul>
                    <li><a href="/Projects/New?team=@Model.Id">Create Project</a></li>
                    <li><a href="#">LeaderBoard</a></li>
                    @if (ViewBag.esteAdmin)
                    {
                        <li><a href="/Teams/Delete/@Model.Id">Delete Team</a></li>
                    }
                </ul>
            </div>
        </div>
        <div>
            <h4 style="margin-top:1rem;">Team: @Model.Name</h4>
            <hr />
            @*afisarea persoanelor din echipa*@
            <p>
                <span style="font-weight: bold;">People in the team: </span>
            @foreach(ApplicationUser user in ViewBag.users)
            {
                <span>@user.UserName, </span>
            }
            </p>
            @if(ViewBag.countUsers != null)
            {
                <span>+ @(ViewBag.countUsers)</span>
            }

            @if(ViewBag.MyProjects != null)
            {
                <h3>My projects</h3>
                <div class="items-container">
                @foreach (var project in ViewBag.MyProjects)
                {
                    <div onclick="location.href='/Projects/Show/@project.Id';" class="card team-card">
                        <div class="card-body">
                                <h3 class="card-title alert-success py-3 px-3 rounded-2">@project.Title_project</h3>
                                <div class="card-text">@project.Description</div>
                        </div>
                    </div>
                }
                </div>
            }
            
            @if(ViewBag.CurrentProjects != null)
            {
                <h3>Current Projects</h3>
                <div class="items-container">
                @foreach (var project in ViewBag.CurrentProjects)
                {
                    <div onclick="location.href='/Projects/Show/@project.Id';" class="card team-card">
                        <div class="card-body">
                            <h3 class="card-title alert-success py-3 px-3 rounded-2">@project.Title_project</h3>
                            <div class="card-text">@project.Description</div>
                        </div>
                    </div>
                }
                </div>
                
            }

            @if(ViewBag.OtherProjects != null)
            {
                <h3>Other Projects</h3>

                <div class="items-container">
                    @if (ViewBag.esteAdmin)
                    {
                        @foreach (var project in ViewBag.OtherProjects)
                        {
                            <div onclick="location.href='/Projects/Show/@project.Id';" class="card team-card">
                                <div class="card-body">
                                    <h3 class="card-title alert-success py-3 px-3 rounded-2">@project.Title_project</h3>
                                    <div class="card-text">@project.Description</div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        @foreach (var project in ViewBag.OtherProjects)
                        {
                            <div class="card team-card disable">
                                <div class="card-body">
                                    <h3 class="card-title alert-success py-3 px-3 rounded-2">@project.Title_project</h3>
                                    <div class="card-text">@project.Description</div>
                                </div>
                            </div>
                        }
                    }

                </div>
                
            }

            
            @if (ViewBag.MyProjects == null && ViewBag.CurrentProjects == null && ViewBag.OtherProjects == null)
            {
                <h3>There are no projects yet, be the first to create one</h3> 
            }

            <dl class="row">
                <dt class="col-sm-2">ID</dt>
                <dd class="col-sm-10">@Model.Id</dd>
                <dt class="col-sm-2">Name</dt>
                <dd class="col-sm-10">@Model.Name</dd>
            </dl>
        </div>
        @*
        <p>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </p>
        *@
    </div>
</div>


