@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<App.NET.Models.ApplicationUser>

<h3 sstyle="text-align:center">Add members to the Task</h3>
<a href="/Tasks/Show/@ViewBag.task.Id">
    <button type="button" class="btn btn-dark" style="display:flex;align-content:center;margin-top:1rem;">
        <span class="material-symbols-outlined">arrow_back</span>
        Back to the Task: @ViewBag.task.Title_task
    </button>
</a>
@if (@ViewBag.none)
{
    <p>There are no people to add. All the project users are in this task or there is only you in this project</p>
}
@foreach (ApplicationUser user in Model)
{
    <form class="add_users" method="post" action="/Tasks/Add_Users">
        <input type="hidden" name="Task_id" value="@ViewBag.task.Id" />
        <input type="hidden" name="User_Id" value="@user.Id" />
        <p>@user.UserName</p>
        <button type="submit" class="btn btn-success button_add_user">Add User</button>
    </form>
}
