@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model App.NET.Models.Task_table

<a href="/Tasks/Add_users/@Model.Id">
    <button type="button" class="btn btn-success" style="display:flex;align-content:center;">
        <span class="material-symbols-outlined">
            add
        </span><span>Add users to the Task</span>
    </button>
</a>
    <div>
        <dl class="row">
            <dt class="col-sm-2">ID:</dt>
            <dd class="col-sm-10">@Model.Id</dd>

            <dt class="col-sm-2">Titlu:</dt>
            <dd class="col-sm-10">@Model.Title_task</dd>

            <dt class="col-sm-2">Descriere:</dt>
            <dd class="col-sm-10">@Model.Description_task</dd>

            <dt class="col-sm-2">Status:</dt>
            <dd class="col-sm-10">@Model.Status</dd>

            <dt class="col-sm-2">Data start:</dt>
            <dd class="col-sm-10">@Model.Data_start</dd>

            <dt class="col-sm-2">Data finalizare:</dt>
            <dd class="col-sm-10">@Model.Data_end</dd>
        </dl>
    </div>

@*afisarea persoanelor din tasks*@
<span style="font-weight: bold;">People doing the task: </span>
<ul>
    @foreach (ApplicationUser user in ViewBag.users)
    {
        <li>@user.UserName</li>
    }
</ul>

<h3>Media:</h3>
<div class="card-text">@Html.Raw(Model.Media)</div>
    <a asp-action="Index">Înapoi la listă</a>

    




